@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 50%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d5d5d5;
}

#column-2 {
  background: red;
}

#column-3 {
  background: blue;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: black;
  }

  #column-1 {
    background-color: brown;
  }

  #column-2 {
    background-color: pink;
  }

  #column-3 {
    background-color: blue;
  }

  footer {
    background-color: purple;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 33%) {
  header {
    background-color: #9FBB73;
  }

  #column-1 {
    background-color: #DCBFFF;
  }

  #column-2 {
    background-color: #363062;
  }

  #column-3 {
    background-color: #E0F4FF;
  }

  footer {
    background-color: #FF6C22;
  }
   
}
